/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Typography
	#Links
	#Buttons
	#Common
	#Browser Fix
	#Misc


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */

*, *:before, *:after {
    -moz-box-sizing: border-box;
	-webkit-box-sizing :border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}



	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; 
		text-decoration:none;}
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }

	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }
		
img {
    display: inline-block;
    vertical-align: middle;
}

img {
    height: auto;
    max-width: 100%;
}
#map img { max-width: none; }

*::-moz-selection {
    background: #111111;
    color: #ffffff;
}

a:focus {
outline: 0;
}

iframe{width:100%;frameborder:0;display:block;}
	


/* #Basic Styles
================================================== */
	body {
		background: #ffffff;
		font: 14px/21px 'open_sans', Arial, sans-serif;
		color: #999999;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;

		
 }



/* #Typography and #Common style
================================================== */
	h1, h2, h3, h4, h5, h6 {color: #343434;font-weight: normal;text-transform:uppercase;}
	

	
	
	
	h2{font-size:18px;}
	h3{font-size:15px;margin-bottom:10px;}
	
	p{line-height:22px;}
	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }
	
	.smallIntro p {
	    color: #ffffff;
	    display: inline-block;
	    font-size: 20px;
	}
	
	.largeIntro, .projIntro, .pSingleIntro{
		width:70%;
		margin:0 auto;
	}
	

		
	.shorten .inner h1, .expDet a, h2.expTitle, .tDetails h3 span, .testiSlider li blockquote, .fact span.plus, .process .smallIntro p, .itemDesc span, .priceInner h1 span.mn, .footerTop span, .footerTop a, .footerBottom p, nav.mainNav li, .fact span, nav.mainNav li, .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, .widget .tweets .tweet_list li , .infoInner span, .infoInner a {
			-webkit-text-stroke: 0.25px;
	}
	
	
	

	
	.footerTop span, .footerTop a, .smallIntro p, .footerBottom p, .title h1, .tDetails h3 span, .clients .smallIntro p, .testiSlider li blockquote, .addDet a, .feedTw h3, .instaTitle h3, .lifeInner h1, .process .smallIntro p, .widget .tweets .tweet_list li{
		font-family: 'robotolight' , Arial, sans-serif;
	}
	
	
	.slidesInner p, .aboutIntroContent h1 span, .itemDesc h3, .ltTitle h1, .pTitle h1, .postTitle h1 a, .postContent blockquote, .postSingle .postContent blockquote, .tagsSingle h4 , .comments h2, .respond h2, .widget h2, .stp h3,
	.projCaseInner h3, .authorName h3 span, h2.expTitle, .tDetails h3, .servi .servDet h3, .add .addDet h3, .prcDet h3, .widget .tweets .tweet_list a, .quickL h2 {
		font-family: 'robotoregular', Arial, sans-serif;
	}
	
	
	.slidesInner p span, .authorName h3, .pMeta, .author a, .footerBottom p .brand, .smallIntro p span, .ltMeta a, .postMeta span, .postMeta span a {
	  font-family: 'robotobold', Arial, sans-serif;
	}
	
	
	.aboutIntroContent h1, .shorten .inner h1, .servBtn, .workBtn, .fact span.plus, #category .current a:after,
	.itemDesc span{
		font-family: 'robotothin', Arial, sans-serif;
	}
	
	
	.expDet a, .skillbarTitle, .testiSlider li .testiProfile , .planName h1, .priceInner h1, .ltMore a, .comments .reply-btn a, .contactIntro h3, .btn{
		font-family: 'RobotoBoldCondensed', Arial, sans-serif;
	}
	
	
	.ctlContentL h1, ul#category li, .feedTw h3 span {
	    font-family: "RobotoMedium", Arial, sans-serif;

	}
	
	
	.planBody li span , .ltDt, .ltCm, .instaTitle h3 span, .lifeInner h1 span, .lifeTel {
		font-family: 'open_sansbold' , Arial, sans-serif;
	}
	
	
	.fact h1 span{
		font-family: 'open_sansextrabold', Arial, sans-serif;
	}
	
	
	.fact span, nav.mainNav li{
		font-family: 'open_sanssemibold', Arial, sans-serif;
	}
	
	
	.priceInner h1 span.mn, .tweets .tweet_list li, .pDesc blockquote  {
		font-family: 'open_sanslight_italic', Arial, sans-serif;
	}
	
	.tweets .tweet_list a {
		font-family: 'open_sanssemibold_italic', Arial, sans-serif;
	}
	


/* #Links
================================================== */
	
	a,.errorForm, .contactForm #submit,.tactive span, .pagination ul li span, .replyForm #submit, .shortFolio span, .shortContact span, .latest img, .item img, .proj img, .instaFeed li a:before, .servImg, .workImg,  ul.ftPost li a span, ul.catRecents li a span  {
		
		transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
		-webkit-transition:all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		
	}
	
	




/* #Button
================================================== */

.btn{
	background:#ffffff;
	border-radius:25px;
	padding:8px 30px;
	color:#2c2c2c;
	text-transform:uppercase;
	font-size:13px;
	display:inline-block;
}


.btn.border{
	padding:6px 30px;
	border:2px solid #2c2c2c;
	background:none;
}



a.amore {
    color: #ffffff;
    display: inline-block;
    margin: 25px auto 0;
}


/* #Common
================================================== */

	

.headerSingle{
	top: 0;
	position: fixed; 
	width: 100%;
	background-attachment: fixed !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;


	
}



.hero{

	width:100%;
	position: relative;
    top: 55%;
	
}


.hero .title h1{
	font-size:28px;
	text-transform:none;
}
	
	
/* #Browser Fix
================================================== */
		
		
		.searchForm input[type="text"],.pagination ul li , .contactForm input[type="text"], .contactForm textarea, 
		.replyForm input[type="text"], .replyForm textarea, .comments .img,  .prSingle, .fct, .service, .plan, .post .postDetails , .projSocials li a, .projNav li a, 
		
	   .introTitle img, .introTitle, .bigTitle, .bigTitle img, .mainHeader, .showHideBtn, .headerSocials, .logo
	   ,.subscribeForm .submitSubcribe, .subscribeForm input[type="text"]
	   ,.inputColumns .column1, .inputColumns .column2, .inputColumns .column3, .contactForm input[type="text"], .contactForm textarea, .replyForm input[type="text"], .replyForm textarea, .replyFormLarge input[type="text"], .replyFormLarge textarea, .process, .facts, .det, .headerSingle, .exp2, .socialsSlider li a, .postLarge.last, .servi, .add, .prcIco i, .addAlt, .postLarge, .postNav ul li a, .insta, .contInfoInner, .factIco, .factIcoInner, .tSocials li a, .testimonials.v2, .authorImg, .tSocials li a,.testimonials, .clients, .socials{
		    box-sizing:border-box;
			-moz-box-sizing:border-box; /* Firefox */
		}






/* #Misc
================================================== */
	.ofsBottomL{padding-bottom:100px !important;}
	.ofsTopL{padding-top:100px !important;}
	.ofsBottom{padding-bottom:80px !important;}
	.ofsTop{padding-top:80px !important;}
	.tCenter {text-align: center;}
	.tLeft {text-align: left;}
	.tRight {text-align: right;}
	.ofsInTop{padding-top:60px !important;}
	.ofsInBottom{padding-bottom:60px !important;}
	.ofsTMedium{padding-top:40px !important;} 
	.ofsBMedium{padding-bottom:40px !important;}
	.ofsTSmall{padding-top:20px !important;} 
	.ofsBSmall{padding-bottom:20px !important;}
	.margTMedium{margin-top:40px !important;}
	.margBMedium{margin-top:40px !important;}
	.margTop{margin-top:60px !important;}
	.margMTop{margin-top:70px !important;}
	.margLTop{margin-top:80px !important;}
	.margBottom{margin-bottom:60px !important;}
	.margMBottom{margin-bottom:70px !important;}
	.margLBottom{margin-bottom:80px !important;}
	.margHBottom{margin-bottom:100px !important;}
	.margHTop{margin-top:100px !important;}
	.margHHTop{margin-top:150px !important;}
	.singleOffset{margin-top:71px !important;}
	.blogSingle.singleOffset {margin-top: 64px !important;}
	.bgLight{background:#ffffff;}
	.bgGrey{background:#f8f8f8;}
	.bgWhite{background:#ffffff;}
	.bgGreyDark{background:#2c2c2c;}
	.secTitle.pricingTitle h1{color:#f4f4f4;}
	.noGap{margin:0 !important;width: 200px !important;}
	.bold{font-family: 'open_sanssemibold';color:#2c2c2c;}

