@font-face {
    font-family: 'open_sansbold';
    src: url('../font/OpenSans-Bold-webfont.html');
    src: url('../font/OpenSans-Bold-webfontd41d.html?#iefix') format('embedded-opentype'),
		url('../font/OpenSans-Bold-webfont.woff') format('woff'),
		url('../font/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../OpenSans-Bold-webfont.html#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../font/OpenSans-BoldItalic-webfont.html');
    src: url('../font/OpenSans-BoldItalic-webfontd41d.html?#iefix') format('embedded-opentype'),
	url('../font/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../font/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../font/OpenSans-BoldItalic-webfont-2.html#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sansextrabold';
    src: url('../font/OpenSans-ExtraBold-webfont.html');
    src: url('../font/OpenSans-ExtraBold-webfontd41d.html?#iefix') format('embedded-opentype'),
 		 url('../font/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../font/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../font/OpenSans-ExtraBold-webfont-2.html#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('../font/OpenSans-ExtraBoldItalic-webfont.html');
    src: url('../font/OpenSans-ExtraBoldItalic-webfontd41d.html?#iefix') format('embedded-opentype'),
		 url('../font/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('../font/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('../font/OpenSans-ExtraBoldItalic-webfont-2.html#open_sansextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sansitalic';
    src: url('../font/OpenSans-Italic-webfont.html');
    src: url('../font/OpenSans-Italic-webfontd41d.html?#iefix') format('embedded-opentype'),
 		 url('../font/OpenSans-Italic-webfont.woff') format('woff'),
         url('../font/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Italic-webfont-2.html#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sanslight';
    src: url('../font/OpenSans-Light-webfont.html');
    src: url('../font/OpenSans-Light-webfontd41d.html?#iefix') format('embedded-opentype'),
 		 url('../font/OpenSans-Light-webfont.woff') format('woff'),
         url('../font/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Light-webfont-2.html#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../font/OpenSans-LightItalic-webfont.html');
    src: url('../font/OpenSans-LightItalic-webfontd41d.html?#iefix') format('embedded-opentype'),
		 url('../font/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../font/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../font/OpenSans-LightItalic-webfont-2.html#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../font/OpenSans-Regular-webfont.html');
    src: url('../font/OpenSans-Regular-webfontd41d.html?#iefix') format('embedded-opentype'),
		 url('../font/OpenSans-Regular-webfont.woff') format('woff'),
         url('../font/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Regular-webfont-2.html#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sanssemibold';
    src: url('../font/OpenSans-Semibold-webfont.html');
    src: url('../font/OpenSans-Semibold-webfontd41d.html?#iefix') format('embedded-opentype'),
 		 url('../font/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../font/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Semibold-webfont-2.html#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('../font/OpenSans-SemiboldItalic-webfont.html');
    src: url('../font/OpenSans-SemiboldItalic-webfontd41d.html?#iefix') format('embedded-opentype'),
		 url('../font/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('../font/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('../font/OpenSans-SemiboldItalic-webfont-2.html#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}





@font-face {
    font-family: 'RobotoBoldCondensed';
    src: url('../font/Roboto-BoldCondensed-webfont.eot');
    src: url('../font/Roboto-BoldCondensed-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../font/Roboto-BoldCondensed-webfont.woff') format('woff'),
         url('../font/Roboto-BoldCondensed-webfont.ttf') format('truetype'),
         url('../font/Roboto-BoldCondensed-webfont.svg#RobotoBoldCondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'RobotoMedium';
    src: url('../font/Roboto-Medium-webfont.eot');
    src: url('../font/Roboto-Medium-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../font/Roboto-Medium-webfont.woff') format('woff'),
         url('../font/Roboto-Medium-webfont.ttf') format('truetype'),
         url('../font/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotothin';
    src: url('../font/roboto-thin-webfont.eot');
    src: url('../font/roboto-thin-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto-thin-webfont.woff') format('woff'),
         url('../font/roboto-thin-webfont.ttf') format('truetype'),
         url('../font/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'robotoregular';
    src: url('../font/roboto-regular-webfont.eot');
    src: url('../font/roboto-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto-regular-webfont.woff') format('woff'),
         url('../font/roboto-regular-webfont.ttf') format('truetype'),
         url('../font/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'robotolight';
    src: url('../font/roboto-light-webfont.eot');
    src: url('../font/roboto-light-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto-light-webfont.woff') format('woff'),
         url('../font/roboto-light-webfont.ttf') format('truetype'),
         url('../font/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotobold';
    src: url('../font/roboto-bold-webfont.eot');
    src: url('../font/roboto-bold-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto-bold-webfont.woff') format('woff'),
         url('../font/roboto-bold-webfont.ttf') format('truetype'),
         url('../font/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
