/*
*	PIXEL (HTML version)
* 	Copyright 2015
* 	www.mutationmedia.net
* 	Created by : Benaissa Ghrib
*
*/


/* Table of Content
==================================================
	/* Preloader*/
	/* Wrapper*/
	/* Header*/
	/* Navigation*/
	/* Main slider*/
	/* About */
	/* Services */
	/* Pricing*/
	/* Portfolio*/
	/* Blog*/
	/* Contact*/
	/* Footer*/
	/* Media queries*/





/*Preloader*/
#loader {
    background: #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}


.loaderBars {
    height: 40px;
	width: 40px;
    left: 50%;
	top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    text-align: center;
    
    
}


.bar{
	background-color:#eea915;
	border:1px solid #eea915;
	float:left;
	height:20px;
	margin-left:2px;
	width:7px;
	opacity:0.1;
	-moz-animation-name:bounceG;
	-moz-animation-duration:1.5s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-moz-transform:scale(0.7);
	-webkit-animation-name:bounceG;
	-webkit-animation-duration:1.5s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-webkit-transform:scale(0.7);
	-ms-animation-name:bounceG;
	-ms-animation-duration:1.5s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-ms-transform:scale(0.7);
	-o-animation-name:bounceG;
	-o-animation-duration:1.5s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	-o-transform:scale(0.7);
	animation-name:bounceG;
	animation-duration:1.5s;
	animation-iteration-count:infinite;
	animation-direction:linear;
	transform:scale(0.7);
}

.bar1{
	-moz-animation-delay:0.45s;
	-webkit-animation-delay:0.45s;
	-ms-animation-delay:0.45s;
	-o-animation-delay:0.45s;
	animation-delay:0.45s;
}

.bar2{
	-moz-animation-delay:0.6s;
	-webkit-animation-delay:0.6s;
	-ms-animation-delay:0.6s;
	-o-animation-delay:0.6s;
	animation-delay:0.6s;
}

.bar3{
	-moz-animation-delay:0.75s;
	-webkit-animation-delay:0.75s;
	-ms-animation-delay:0.75s;
	-o-animation-delay:0.75s;
	animation-delay:0.75s;
}

@-moz-keyframes bounceG{
0%{
-moz-transform:scale(1.2);
opacity:1}

100%{
-moz-transform:scale(0.7);
opacity:0.1}

}

@-webkit-keyframes bounceG{
0%{
-webkit-transform:scale(1.2);
opacity:1}

100%{
-webkit-transform:scale(0.7);
opacity:0.1}

}

@-ms-keyframes bounceG{
0%{
-ms-transform:scale(1.2);
opacity:1}

100%{
-ms-transform:scale(0.7);
opacity:0.1}

}

@-o-keyframes bounceG{
0%{
-o-transform:scale(1.2);
opacity:1}

100%{
-o-transform:scale(0.7);
opacity:0.1}

}

@keyframes bounceG{
0%{
transform:scale(1.2);
opacity:1}

100%{
transform:scale(0.7);
opacity:0.1}

}


/*End preloader*/


/*Wrapper*/


#wrapper{
	position:relative;
	width:100%;
}



/*End wrapper*/




/*Header*/

.mainHeader.fixed{
	position:fixed !important;
	width:100%;
	top:0;
	left:0;
	z-index:1000;
	opacity:1 !important;
	display:block !important;

}



.mainHeader.switchedHeader{
	position:fixed;
	top:0;
	left:0;
	opacity:1;
}



.mainHeader{
	width:100%;
	opacity:0;
	background-color: rgba(255, 255, 255, 0.98);
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:  1px 1px 6px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
	-ms-box-shadow:  1px 1px 6px rgba(0, 0, 0, 0.1);
	-o-box-shadow:  1px 1px 6px rgba(0, 0, 0, 0.1);
	position:absolute;
	width:100%;
	top:0;
	left:0;
	z-index:1000;
	
	
}

.logo img {
	
 	margin-top: 20px;
    width: 42%;
}

/*End header*/


/*Navigation*/


nav.mainNav {
	display:inline-block;
}

nav.mainNav li {
	
	display: inline-block;
	font-size: 11px;
	position:relative;
	text-transform: uppercase;
	padding-left: 20px;
	background: url(../images/plus.png) no-repeat scroll 0 32px / 15px 10px rgba(0, 0, 0, 0);
}

nav.mainNav li:first-child{
	background:rgba(0,0,0,0);
}



nav.mainNav li a{
    color: #999999;
    display: block;
    position: relative;
	margin:0 10px;
	padding-bottom: 25px;
    padding-top: 25px;

}



/*Mobile menu button*/

.mobileBtn {
	padding:5px;
	text-align:center;
	z-index:1000;
	display:none;
}


.mobileBtn i{
	font-size:22px;
	color:#2c2c2c;
}


/*End button mobile menu*/

/*End navigation*/






/*Main slider*/

.mainSliderHolder{
	overflow:hidden;
}




.mainSlider .slides li{

	background-size: cover !important;
	height: 800px !important;
	

}


.overlay:before{
    background: rgba(44, 44, 44, 0.4);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
	left:0;
	top:50px;
	z-index:0;
}


.slidesInner {
    top: 50%;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
	color:#ffffff;
	z-index:999;
	margin-top:-127px;
}

.slidesInner img{
	width:20% !important;
}



.slidesInner p {
    color: #ffffff;
    font-size: 15px;
    margin-top: 22px;
    padding: 0 550px;
}

.socialsSlider{
	margin-top: 20px;	
}


.socialsSlider li {
    display: inline-block;
    margin-right: 2px;
    text-align: center;
}

.socialsSlider a {
    border: 2px solid #ffffff;
    color: #ffffff;
    display: inline-block;
    height: 35px;
    width: 35px;
	border-radius:100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	opacity:.7;
}


.socialsSlider li i {
    font-size: 12px;
    line-height: 33px;
}


.socialsSlider a:hover {
    opacity:1;
}




/*End main slider*/





/*About section*/


.title h1{
	font-size:21px;
}


.title.light h1{
	color:#ffffff;
}



.title.dark h1{
	color:#2c2c2c;
}


.title h1 span{
	display:block;
	margin-top:10px;
}

.aboutIntroContent h1{
	font-size:36px;
	color:#ffffff;
	text-transform:none;
}


.aboutIntroContent h1 span{
	color:#eea915;
}


.aboutIntroContent p{
	width:60%;
	margin:0 auto;
	margin-top:30px;
	margin-bottom:50px;
}






/*Expertise*/

.expIco {
	width: 52px;
	height: 30px;
	background: #2c2c2c;
	position: relative;
	display:block;
	text-align:center;
	color:#f1f1f1;
	margin:0 auto;

}


.exp.selected .expIco{
	background: #eea915;
}

.exp.selected  .expIco:before {
	border-bottom: 15px solid #eea915;

}


.exp.selected .expIco:after {
	border-top: 15px solid #eea915;
}


.expIco i {
	font-size: 18px;
    line-height: 32px;
}



.exp.selected .expIco i {
	color:#ffffff;
}


.expIco:before {
	content: "";
	position: absolute;
	top: -15px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 26px solid transparent;
	border-right: 26px solid transparent;
	border-bottom: 15px solid #2c2c2c;
}


.expIco:after {
	content: "";
	position: absolute;
	bottom: -15px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 26px solid transparent;
	border-right: 26px solid transparent;
	border-top: 15px solid #2c2c2c;

}

.expDet{
	margin-top:40px;
}

h2.expTitle{
	font-size:15px;
	margin-bottom:15px;
}


.expDet p{
	margin-bottom:20px;
}

.expDet a{
	font-size:14px;
	color:#eea915;
}


/*End expertise*/




/*Short services and works*/

.servImg, .workImg{
    background-position: 50% 20%;
    background-size: cover;
    height: 100%;
    min-height: 300px;
    width: 50%;
	float:left;
	position:relative;
	overflow:hidden;
	-moz-transform: scale(1.1)  ;
	-webkit-transform: scale(1.1) ;
	-o-transform: scale(1.1)  ;
	transform: scale(1.1) ;
	
}

.servImg {
    background-image: url(../images/splitImages/serv.jpg);
	width: 100%;
	
}


.workImg {
    background-image: url(../images/splitImages/work.jpg);
	width: 100%;
	
}

.shorten{
	
	position:relative;	
}

.shorten .inner{
   	margin-top: -35px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50%;
    z-index: 1;
}


.shorten .inner h1{
	font-size:32px;
	color:#ffffff;
}


.servSht, .worksSht{
    width: 50%;
	float:left;
	color:#ffffff;
	font-size:50px;
	overflow:hidden;
	
}

.servBtn{
	background:#2c2c2c;	
}

.workBtn{
	background:#eea915;	
}

.servBtn, .workBtn {
    color: #ffffff;
    float: left;
    font-size: 50px;
    width: 50%;
}

.workBtn a, .servBtn a{
	display:block;
	padding:20px;
	color:#ffffff;
}


.servBtn a{
	color:#f1f1f1;
}


/*End short services and works*/



/*Team*/

.tImg {
    margin-bottom: 25px;
    overflow: hidden;
    position: relative;
    transform: translateX(-1px);
	-webkit-transform: translateX(-1px);
	-moz-transform: translateX(-1px);
	-ms-transform: translateX(-1px);
	-o-transform: translateX(-1px);
    z-index: 1;
}

.tImg img{
   width: 60%;
}



.polyLeft:after, .polyLeft:before, .polyRight:after, .polyRight:before {
    content: "";
    display: block;
    padding-top: 58%;
    position: absolute;
    width: 42%;
}


.polyRight:after, .polyRight:before {
    right: -19%;
	background:#f8f8f8;
}


.polyRight:before {
    top: -28%;
    transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);

}


.polyRight:after {
    bottom: -28%;
    transform: rotate(30deg);
	-webkit-transform:  rotate(30deg);
	-moz-transform:  rotate(30deg);
	-ms-transform:  rotate(30deg);
	-o-transform:  rotate(30deg);
}


.polyLeft:after, .polyLeft:before {
    left: -19%;
	background:#f8f8f8;
}


.polyLeft:before {
    top: -28%;
	transform: rotate(30deg);
	-webkit-transform:  rotate(30deg);
	-moz-transform:  rotate(30deg);
	-ms-transform:  rotate(30deg);
	-o-transform:  rotate(30deg);
}


.polyLeft:after {
    bottom: -28%;
	transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
}


.tDetails h3 span {
    display: block;
    font-size: 12px;
}

.tDetails p {
 	margin-top:16px;
}

.tSocials {
    margin-top: 20px;
}


.tSocials li {
    display: inline-block;
}


.tSocials li a {
    display: inline-block;
	font-size:14px;
	border: 2px solid #2c2c2c;
    color: #2c2c2c;
    display: inline-block;
    height: 35px;
    width: 35px;
	border-radius:100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	margin-left:2px;
	margin-right:2px;
}

.tSocials li i {
    line-height: 33px;
}


/*End team*/



/*Clients*/


.container .clientHolder {
    display: inline-block;
    float: none;
}



.clients{
	background: url(../images/parallaxBg/parallax.jpg);
	background-attachment: fixed;
	background-position: center top;
	background-repeat: repeat-y;
	background-size: cover;
	min-height: 430px;
	position:relative;
}

.clients:before{
    background: rgba(248, 248, 248, .90);
}



.clients .smallIntro p{
	color:#3b3a3c;
}



.clientHolder .clientsInner:first-child{
	border-top: 1px dashed #d0d0d2;
}


.clientsInner{
	border-left: 1px dashed #d0d0d2;
}


.logoSingle {
    border-bottom: 1px dashed #d0d0d2;
    border-right: 1px dashed #d0d0d2;
    padding: 35px 0;
}



.logoSingle a {
    opacity: 0.8;
	display:block;
}

.logoSingle a:hover {
    opacity: 0.6;
	-moz-transform: scale(1.2)  ;
	-webkit-transform: scale(1.2) ;
	-o-transform: scale(1.2)  ;
	.transform: scale(1.2) ;


}

.logoSingle img {
    width: 45%;
	-webkit-backface-visibility: hidden;
}



/*End clients*/



/*Skills*/


.skillBar {
    margin-bottom: 10px;
}


.skill {
	margin-top:22px;
}


.skillbarHolder {
    border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
    height: 35px;
    position: relative;
}


.skillbarHolder.dsg  .percentage{
	background:#eea915;
}


.skillbarHolder.dev .percentage{
	background:#2c2c2c;
}


.percentage {
    border-radius: 3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
    height: 35px;
    left: 0;
    position: absolute;
    top: 0;
}


.skillbarTitle {
    color: #ffffff;
    font-size: 14px;
    left: 15px;
    position: absolute;
    text-transform: uppercase;
    top: 7px;
    z-index: 10;
}

.percent90 {
    width: 90%;
}

.percent95 {
    width: 95%;
}

.percent60 {
    width: 60%;
}

.percent50 {
    width: 50%;
}


.percent70 {
    width: 70%;
}


/*End skills*/



/*Testimonials*/


.testimonials {
	background: url(../images/parallaxBg/parallax2.jpg);
	background-attachment: fixed;
	background-position: center top;
	background-repeat: repeat-y;
	background-size: cover;
	min-height: 330px;
	position:relative;
}


.testimonials .bigTitle h1 {
    color: #ffffff;
}


.testimonials .bigTitle img {
    background: none repeat scroll 0 0 #4ac2be;
}


.testimonials .bigTitle h1:after {
    background: none repeat scroll 0 0 #ffffff;
}


.testimonials .testiSlider {
    width: 800px;
}


.testiSlider li {
    color: #ffffff;
    padding-bottom: 40px;
}


.testiSlider li blockquote {
    font-size: 18px;
    line-height: 30px;
}


.testiSlider li .testiProfile {
    color: #ffffff;
    font-size: 14px;
    padding-top: 20px;
}



.testiIcoInner {
	width: 52px;
	height: 30px;
	background: #eea915;
	position: relative;
	display:block;
	text-align:center;
	color:#ffffff;
	margin:0 auto;

}

.testiIcoInner i {
	font-size: 18px;
    line-height: 35px;
}


.testiIcoInner:before {
	content: "";
	position: absolute;
	top: -15px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 26px solid transparent;
	border-right: 26px solid transparent;
	border-bottom: 15px solid #eea915;
}


.testiIcoInner:after {
	content: "";
	position: absolute;
	bottom: -15px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 26px solid transparent;
	border-right: 26px solid transparent;
	border-top: 15px solid #eea915;

}


/*End testimonial*/


/*End about section*/




/*Services section*/


/*Services*/

.servicesList {
    border: 1px solid #efefef;
}

.servicesList:last-child{
	margin-bottom:0 !important;
}



.servi {
    border-right: 1px solid #efefef;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 30px 0;
    position: relative;
    width: 319px !important;
}


.servi:last-child {
    border-right: medium none;
}


.servIco {
	width: 52px;
	height: 30px;
	background: #2c2c2c;
	position: relative;
	display:block;
	text-align:center;
	color:#f1f1f1;
	margin:0 auto;
	top: -47px;

}

.servIco.selected {
	background: #eea915;
	color:#ffffff;


}

.servIco i {
	font-size: 18px;
    line-height: 32px;
}


.servIco:before {
	content: "";
	position: absolute;
	top: -15px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 26px solid transparent;
	border-right: 26px solid transparent;
	border-bottom: 15px solid #2c2c2c;
}

.servIco.selected:before {
	border-bottom: 15px solid #eea915;
}


.servIco:after {
	content: "";
	position: absolute;
	bottom: -15px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 26px solid transparent;
	border-right: 26px solid transparent;
	border-top: 15px solid #2c2c2c;

}

.servIco.selected:after {
	border-top: 15px solid #eea915;

}



.servi .servDet p {
    padding: 0 20px;
}

/*End services*/



/*Facts*/

.facts{
	background: url(../images/parallaxBg/parallax3.jpg);
	background-attachment: fixed;
	background-position: center top;
	background-repeat: repeat-y;
	background-size: cover;
	min-height: 200px;
	position:relative;
}


.factsInner{
	padding-top:5px;
}


.fact{
	position:relative;
}

.factIco{
	border:2px solid #ffffff;
	border-radius:100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	width:107px;
	height:107px;
	margin:0 auto;
	padding:4px 3px;
}


.factIcoInner{
	border:2px solid #ffffff;
	border-radius:100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	width:95px;
	height:95px;
	margin:0 auto;
}


.fact h1,.fact  i, .fact  span{
	color:#ffffff;
}


.fact  .factIcoInner i{
	font-size:35px;
	line-height:90px;
}

.fact span.plus{
	display:block;
	margin-bottom:30px;
	margin-top:20px;
	font-size:30px;
}

.fact h1 span{
	font-size:48px;
}


.fact span{
	margin-top:20px;
	display:block;
	font-size:14px;
}


/*End facts*/


/*Additionals services*/

.add {
    padding: 30px 0;
    position: relative;
	background:#ffffff;
	border-radius:100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	height:300px;
	width:300px !important;
	display:block !important;
	border: 4px solid #f8f8f8;
	box-shadow: 0 0 0 3px #ffffff;
	-webkit-box-shadow: 0 0 0 3px #ffffff;
	-moz-box-shadow: 0 0 0 3px #ffffff;
	-ms-box-shadow: 0 0 0 3px #ffffff;
	-o-box-shadow: 0 0 0 3px #ffffff;
}



.addIco {
	width: 60px;
	height: 38px;
	background: #2c2c2c;
	position: relative;
	display:block;
	text-align:center;
	color:#f1f1f1;
	margin:0 auto;
	top: -50px;

}

.addIco.selected {
	background: #eea915;
	color:#ffffff;


}

.addIco i {
	font-size: 22px;
    line-height: 40px;
}


.addIco:before {
	content: "";
	position: absolute;
	top: -15px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 15px solid #2c2c2c;
}

.addIco.selected:before {
	border-bottom: 15px solid #eea915;
}


.addIco:after {
	content: "";
	position: absolute;
	bottom: -15px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 15px solid #2c2c2c;

}

.addIco.selected:after {
	border-top: 15px solid #eea915;

}



.add .addDet p {
    padding: 0 35px;
}

.addDet a{
	margin-top:25px;
	display:inline-block;
	background:#f8f8f8;
	border-radius:100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	width:35px;
	height:35px;
	color:#999999;
	line-height:35px;
	font-size:20px;
}

.addDet a.selected{
	background:#eea915;
	color:#ffffff;
}


/*End additionals services*/



/*Process*/

.process{
	background: url(../images/parallaxBg/parallax4.jpg);
	background-attachment: fixed;
	background-position: center top;
	background-repeat: repeat-y;
	background-size: cover;
	min-height: 430px;
	position:relative;
}


.process .smallIntro p {
    color: #ffffff;
 	padding: 0 260px;
	line-height: 28px;
}


.prc{
	background:#ffffff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	position:relative;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	padding-bottom:40px;
}


.prcIco{
	position:relative;
	top:-30px;
}


.prcIco i{
	font-size:22px;
	background:#eea915;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	border:6px solid #ffffff;
	width:64px;
	height:64px;
	line-height:56px;
	border-radius:100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	color:#ffffff;
	display:block;
	margin:0 auto;
}


.prcIco.selected i{
	background:#2c2c2c;
	color:#f1f1f1;
}


.prcDet h3{
	color:#2c2c2c;
}


.prcDet p{
	line-height:20px;
}


/*End process*/



/*Plans*/

.plan{
	border-radius:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius:3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-bottom:1px solid #efefef;
}


.planName{
	background:#2c2c2c;
	display:block;
	padding:20px;
	border-radius:3px 3px 0 0 ;
	-webkit-border-radius: 3px 3px 0 0 ;
	-moz-border-radius:3px 3px 0 0 ;
	-ms-border-radius: 3px 3px 0 0 ;
	-o-border-radius: 3px 3px 0 0 ;

	
}

.planName h1{
	
	color:#f1f1f1;
	font-size:22px;
}

.planName.featured h1 {
	color: #ffffff;
}


.planHeader.featured .planPrice h1:after, .planHeader.featured .planName h1:after {
    background:#4ac2be;
}


.planPrice{
	border-left:1px solid #efefef;
	border-right:1px solid #efefef;
}



.priceInner {
	width: 75px;
	height: 120px;
	background: #2c2c2c;
	position: relative;
	display:block;
	text-align:center;
	color:#f1f1f1;
	margin:0 auto;
	

}

.priceInner.selected {
	background: #eea915;
	color:#ffffff;


}


.priceInner.selected:before {
 	border-right-color: #eea915 !important;
	
}


.priceInner.selected:after {
  	border-left-color: #eea915 !important;


}


.priceInner:before {
	content: "";
	position: absolute;
	top: 0;
	left: -10px;
	width: 0;
	height: 0;
	border-bottom: 60px solid transparent;
    border-right: 35px solid;
    border-top: 60px solid transparent;
    left: -35px;
 	border-right-color: #2c2c2c !important;
	
}




.priceInner:after {
	content: "";
	position: absolute;
	bottom: 0px;
	right: -10px;
	width: 0;
	height: 0;
  	border-left-color: #2c2c2c !important;
	border-bottom: 60px solid transparent;
    border-left: 35px solid;
    border-top: 60px solid transparent;
    right: -35px;

}



.priceInner h1 {
    font-size: 40px;
	color:#f1f1f1;
	line-height:110px;

}


.priceInner.selected h1 {
	color:#ffffff;
}


.priceInner h1 span.mn {
    font-size: 13px;
	text-transform:none;
	display:block;
	top:-85px;
	position:relative;
}


.planBody {
    
	border-left:1px solid #efefef;
	border-right:1px solid #efefef;
}


.planBody li {
	padding:12px 0;
	border-bottom:1px solid #efefef;
}

.planBody li:first-child{
	border-top:1px solid #efefef;
}


.planBody li span {
	color:#2c2c2c;
}

.plSelected{
	background:#fafafa;
}


.planBtn .btn {
    color: #f1f1f1;
    font-size: 15px;
    text-transform: none;
	background:#343434;
	display:inline-block;
	padding:8px 35px;
}


.planBtn.featured .btn, .planName.featured {
	color: #ffffff;
	background:#eea915;
}


/*End plans*/



/*Call to action*/

.ctlContentL, .ctlContentR {
    float: left;
    width: 50%;
}


.ctlContentL {
    background:#2c2c2c;
}

.ctlContentR {
    background:#eea915;
}


.ctlContentL h1 {
   	color: #f1f1f1;
    font-size: 18px;
    line-height: 25px;
    margin-left: 35%;
    width: 60%;
	padding:0.33em 0;
	display:inline-block;

}


.ctlContentR a {
    background: #2c2c2c;
    color: #f1f1f1;
    display: inline;
    font-size: 14px;
    padding: 11px 30px;
    text-transform: uppercase;
}


/*End call to action*/

/*End services section*/




/*Portfolio section*/



.filterNav {
    text-align: center;
	background:#f8f8f8;
}


ul#category{
	padding:10px 0;
}


ul#category li {
    display: inline-block;
	margin-right:5px;
	text-transform:uppercase;
}


ul#category li a {
    color: #343434;
    display: inline-block;
    padding: 0 10px;
    position: relative;
	font-size:13px;
}


#category .current a{
	color:#eea915;
}


#category .current a:after {
    content: " + ";
    display: block;
    left: 50%;
    margin-left: -11px;
    position: absolute;
    top: 15px;
    width: 22px;
    z-index: 0;
}


.item {
    float: left;
    overflow: hidden;
    position: relative;
    width: 25%;
}




.item:hover img {
    -moz-transform: scale(1.2)  ;
	-webkit-transform: scale(1.2) ;
	-o-transform: scale(1.2)  ;
	transform: scale(1.2) ;
	
}


.itemDesc{
	position:absolute;
	background:  rgba(44, 44, 44, .9);
	width:100%;
	height:100%;
	z-index:10;
}

.itemDesc h3 {
 	color: #f1f1f1;
    margin-bottom: 10px;
}

.itemDesc span {
	font-size: 14px;
	text-transform: none;
	display:block;

}


.itemBtn a{
	color:#2c2c2c;
	font-size: 12px;
	margin-top:10px;
	display:inline-block;
}


.itemBtn a:last-child{
	margin-left:5px;

}

.img, .link {
    background: #ffffff;
    color: #f1f1f1;
    display: block;
    height: 25px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 12px;
    width: 40px;
}


.img i , .link i {
    font-size: 16px;
    line-height: 28px;
}


.img:before, .link:before {
    border-bottom: 10px solid #ffffff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -10px;
    width: 0;
}

.img:after, .link:after {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 10px solid #ffffff;
    bottom: -10px;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}


/*Project single*/


.projShowcase .proj{
	width:33.33%;
	float:left;
}


.stp h3 {
    margin-bottom: 5px;
}


.projSocials li{
	display:inline-block;
	font-size:16px;
	margin-left:3px;
	margin-right:3px;
}


.projSocials li a{
	color:#2c2c2c;
}


.proj, .halfSlider {
    background-size: cover !important;
    height: 100%;
    overflow: hidden;
    position: relative;
}


.halfDesc{
	float:right;
	width:50%;
	position:relative;
	
}

.halfDesc .halfInner {
    padding: 0 16%;
    position: absolute;
    top: 50%;
	margin-top: -50px;
}



.projectHolder{
	position:relative;
	padding:17.8% 0;
	height: 100%;
	width: 100%;
}

.projVideo iframe, .projectHolder .halfSlider  {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
}




.container .halfDesc{
	margin-left:60%;
	padding-right:30px;
}


.projLink {
    background:rgba(36, 36, 36, 0.8);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}


.proj:hover img {
    transform: scale(1.2);
	-moz-transform: scale(1.2)  ;
	-webkit-transform: scale(1.2) ;
	-o-transform: scale(1.2)  ;
	transform: scale(1.2) ;
	
}

.projLinkInner a {
    color: #2c2c2c;
}

.quickL h2 {
    font-size: 19px;
    margin-bottom: 20px;
}

.quickBtn{
	display: inline-block;
    margin-bottom: 5px;
}

.quickBtn .btn{
	border:2px solid #2c2c2c;
	
}



.quickBtn .btn:hover{
	background:#2c2c2c;
	color:#f1f1f1;
	
}


/*End project single*/

/*End portfolio section*/





/*BLog section*/


/*Latest posts*/

.latest{
	position:relative;
	border:1px solid #e8e6e6;
}

.ltInfo{
	position:absolute;
	top:0;
	left: 50%;	
	margin-left: -28px;	
}

.ltDt, .ltCm{
	color:#ffffff;
	padding:5px 15px;
	font-size:13px;
}

.ltDt{
	background:#2c2c2c;
}

.ltCm{
	background:#eea915;
}

.ltInfo span,  .ltCm span{
	display:block;
}


.ltCm span i{
	font-size:16px;
}

.ltDetails{
	background:#ffffff;
	padding:40px 20px;
	
}


.ltTitle h1{
	font-size:18px;
	width:90%;
	line-height:28px;
}

.ltTitle h1 a{
	color:#2c2c2c;
}


.ltMeta a{
    font-size: 11px;
    margin-top: 5px;
    text-transform: uppercase;
	color:#eea915;
	margin-top: 5px;
	margin-bottom:15px;
	display:inline-block;
}

.ltMore a{
	background:#efefef;
	display:block;
	padding:15px 0;
	font-size:15px;
	color:#2c2c2c;
}



.viewAll{
	display:block;
}


.viewAll a{
	background:#2c2c2c;
	color:#f1f1f1;
	text-transform:uppercase;
	font-size:14px;
}


/*End latest posts*/



/*Post single*/





.postNav ul li {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
}


.postNav ul li a {
    border: 2px solid #f1f1f1;
    color: #f1f1f1;
    display: inline-block;
    height: 38px;
    line-height: 36px;
    width: 38px;
 	opacity: 0.3;
}


.postNav ul li a:hover {
    opacity: 0.6;
    border: 2px solid #ffffff;
    color: #ffffff;
}



.postNav ul li a.selected {
    opacity: 0.6;
    border: 2px solid #ffffff;
    color: #ffffff;
}


.post{
   box-sizing: border-box;
    display: inline-block;
    float: left;
    overflow: hidden;
    position: relative;
    width: 33.3333%;
	height:322px;
	
}

.post.quote{
	background:#f8f8f8;
	
}

.postInner{
	position:relative;
	
}

.post.bg .pDetails{
	top:0;
	left:0;
	color:#ffffff;
	padding:45px 100px 40px 40px;
}


.post.bg .pDetails, .post.bgNone .pDetails{
	position:absolute;
	top:0;
	left:0;
	padding:45px 100px 40px 40px;
}


.pMeta{
	margin-top:5px;
	text-transform:uppercase;
	font-size:11px;
}

.pMeta a{
	color:#2c2c2c;
}


.post.bg .pMeta a{
	color:#ffffff;
}


.pTitle h1{
	font-size:16px;
}


.post.bg .pTitle a{
	color:#ffffff;
}


.post.bgNone .pTitle a{
	color:#2c2c2c;
}


.pDesc{
	margin-top:30px;
	margin-bottom:40px;
}


.pDesc blockquote{
	font-size:20px;
	line-height:28px;
	position:relative;
}


.pDesc blockquote:after {
    content: "\e818";
  	font-family: "fontello";
    font-size: 52px;
    opacity: 0.2;
    position: absolute;
    right: 6px;
    top: 38px;
}


.post.bg .postInner a.btn{
	background:none;
	color:#ffffff;
	border:2px solid #ffffff;
	font-size: 14px;
    padding: 8px 25px;
	text-transform:none;
}


.post.bgNone .postInner a.btn{
	background:none;
	color:#2c2c2c;
	border:2px solid #2c2c2c;
	font-size: 14px;
    padding: 8px 25px;
	text-transform:none;
}


.pSingleIntroInner .title h1{
	line-height:30px;
}


.pSingleSocials li{
	display:inline-block;
	font-size:16px;
	margin-left:3px;
	margin-right:3px;
}


.pSingleSocials li a{
	color:#2c2c2c;
}


.container .pSingleDetailsInner.middle, .container .commentsHolderInner.middle{
	display: inline-block;
	float: none;
}


.authorImg {
    border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
    height: 170px;
    margin: 0 auto;
    overflow: hidden;
    padding: 5px;
    width: 170px;
}

.authorImg img{
  	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
    display: inline-block;
    height: 158px;
    width: 170px;
}


.authorName h3{
	font-size: 13px;
}

.authorName h3 span{
	font-size: 12px;
	text-transform:none;
	color:#999999;
}


.postLarge.last{
    margin-bottom: 0;
}


/*End post single*/




/*Blog with side bar*/

.postSingle, .sidebar {
	margin-bottom: 70px;
}

.postLarge{
 	border: 3px solid #f8f8f8;
    margin-bottom: 40px;
    padding: 24px;
	min-height:330px;
}

.postLarge.quote{
 	background:#f8f8f8;
}


.postTitle, .commentscountTitle, .respondTitle {
    margin-bottom: 20px;
}


.postTitle{
	margin-bottom:20px;	
}

.postTitle h1 a{
	color: #343434;
	font-size:18px;
}


.postMeta span, .postMeta span a {
    color: #999999;
    font-size: 11px;
    margin-top: 5px;
    text-transform: uppercase;
}

.postTitle span.postDate {
    font-size: 16px;
	color:#4ac2be;
}

.postTitle span a:hover {
    color: #2D2D2D;
}

.postMeta span.metaComments a{
	color:#eea915;
}

.postMedia{
	margin-bottom:15px !important;
}

.postMedia.single{
	margin-bottom:28px !important;
}


.postLarge.quote{
	min-height:320px;
}


.postContent blockquote{
	font-size:16px;
	line-height:28px;
	position:relative;
}


.postContent blockquote:after {
    content: "\e818";
  	font-family: "fontello";
    font-size: 52px;
    opacity: 0.2;
    position: absolute;
    right: 6px;
    top: 70px;
}

.postLarge  a.more{
	background:none;
	color:#2c2c2c;
	border:2px solid #2c2c2c;
	display: inline-block;
	margin-top:20px;
	text-transform: none;
	font-size:14px;
}

.postLarge a.more:hover{
	background:#2c2c2c;
	color:#f1f1f1;
}



.postSingle p, .postSingle blockquote{
	margin-bottom:10px;
}


.postSingle .postContent blockquote{
	font-size:16px;
	line-height:25px;
	color:#999999;
	background:#f8f8f8;
	padding:30px;
	margin-top:30px;
	margin-bottom:30px;
}


.postSingle .postContent blockquote:after {
    right: 50px;
    top: 60px;
}


.tagsSingle {
	margin-top:30px;
}

.tagsSingle h4 {
    float: left;
    margin-right: 10px;
    margin-top: 4px;
}

.tagsListSingle li{
	display:inline-block;
}


.tagsListSingle li a{
	
	background:#eea915;
    color: #ffffff;
    display: inline-block;
    padding: 5px 12px;
	font-size:11px;

}


.tagsListSingle li a:hover{
	
	background:#343434;
    color: #f1f1f1;
}



.entriesContainer {
    margin-top: 40px;
}


.commentContent {
    margin-bottom: 15px;
    margin-left: 120px;
}


.commentContent p.expert {
    margin-top: 10px;
}

.comments h2, .respond h2, .widget h2{
	font-size: 16px;
	text-transform:none;
}


.comments .authorImg {

    float: left;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	height: 100px;
	overflow: hidden;
	padding: 5px;
	width: 100px;
}


.comments .authorImg img{
  	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
    display: inline-block;
    height: 88px;
    width: 100px;
}


.comment {
    border-bottom: 1px solid #cccccc;
    padding: 5px 0 50px;
    position: relative;
}


.comment.children {
    margin-top: 30px;
}


.comments a {
	display:inline-block;
}

.author a{
	color:#343434;
	font-size:13px;
}


.comments .replys {
    margin-left: 40px;
}


.comments .replys.children {
    margin-left: 80px;
}


.comments .reply-btn {
    float: right;
}


.comments .reply-btn a {
    color: #343434;
	font-size:14px;
}


.comments .reply-btn a:hover {
    color: #eea915;
}



.commentContent .date a {
    color: #eea915;
    font-size: 11px;
	display: inline-block;
}


.replyForm {
    margin-top: 40px;
}


.widget{
	margin-bottom:40px;
}


.widget:last-child{
	margin-bottom:0;
}


.widget h2{
	margin-bottom:20px;
}

.searchForm{
	position:relative;
}

.searchForm input[type="text"]{
    border:none;
    padding:12px 10px 12px 20px;
	font-size: 13px;
    width: 100%;
	background: #f8f8f8;
    border: 0 none;
    color: #999999;
	font-family: "robotolight",Arial,sans-serif;
}


.searchForm  .submitSearch {
    border: medium none;
    cursor: pointer;
    position: absolute;
    right: 14px;
    top: 14px;
	color:#eea915;
	background: #f8f8f8;
}


.catList li, .catRecents li, .meta li {
    line-height: 30px;
}


.widget .catList li:last-child, .widget .catRecents li:last-child {
    border-bottom: medium none;
}


.catList li a, .catRecents li a, .meta li a, .tagsList li a  {
    color: #999999;
	font-size:13px;
}

.catList li a:hover,  .meta li a:hover, .tagsList li a:hover{
	color:#343434;
}

.catRecents li a {
    color: #eea915;
}

.meta abbr{
	color:#343434;
}

.catList li span.countCat{
    color:#343434;
	font-size: 12px;
}


.tagsList li {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 1px;
}


.tagsList li a {
    background:#f8f8f8;
    display: inline-block;
    padding: 6px 15px;
	border-radius:20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	
}

.meta abbr {
    border-bottom: 1px dotted #999999;
    cursor: help;
}


.widget .instaFeed li  {
    height: 100%;
	display:inline-block;
	width:22%;
}

.widget .instaFeed li a:before{
    background: none;

}


.widget .tweets .tweet_list{
	padding:0;
	color:#999999;
	line-height: 25px;
	
}

.widget .tweets .tweet_list li{
	font-size:13px;
	 margin-bottom: 15px;
}

.widget .tweets .tweet_list li span.tweet_time:before{
	content: '\e913';
	font-family:"fontello";
	color: #eea915;
	padding-right:8px;
}

.widget .tweets .tweet_list a{
	color:#eea915;
}


/*End blog with sidebar*/




/*Twitter and instagram feed*/



.twitter{
	position:relative;
}

.twitterIco{
	position:absolute;
	top:0;
	background:#eea915;
	z-index:1;
	color:#ffffff;
	padding:20px 8px;
	font-size:25px;
}


.twitterIco{
	left:50%;
	margin-left: -20px;
}




.container .feedTw {
    display:inline-block;
	float:none;
}


.feedTw {
	margin-top:4.33%;
}



.feedTw h3{
	text-transform:none;
	font-size:14px;
	color:#2c2c2c;
}

.feedTw ul.tweet_list li:last-child {
    display: none;
}


.tweets .tweet_list {
	margin-top:20px;
    color: #2c2c2c;
    line-height: 32px;
	padding:0 100px;

}


.tweets .tweet_list li {
    font-size: 19px;
}


.tweets .tweet_list a {
    color: #2c2c2c;
}


.tweets p {
    color: #f1f1f1;
    font-size: 12px;
    padding-top: 10px;
	
}



.insta {
	position:relative;
	padding:60px 0;
	height:213px;
	overflow:hidden;
}


.instaInner ul.instaFeed{
	position:absolute;
	top:0;
	width:100%;
	height: 100%;
    overflow: hidden;
}


.instaTitle {
    position:relative;
}


.instaIco i{
	color: #2c2c2c;
    display: block;
    font-size: 30px;
    margin-bottom: 16px;
}



.instaTitle h3{
	color:#2c2c2c;
	font-size:20px;
	text-align:center;
}


.instaTitle h3 span{
	margin-top:5px;
	font-size:13px;
	display:block;
	text-transform:none;
}


.instaFeed li{
	position: relative;
}

.instaInner .instaFeed li{
	display:inline;
	width:16.6667%;
	background-size: cover !important;
    float: left;
    height: 100%;
    overflow: hidden;
    
	
}




.instaFeed li a:before{
    background: rgba(248, 248, 248, 0.8);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
	left:0;
	top:0;
	z-index:0;
	display: block
}



.instaFeed li a:hover:before{
	background: rgba(36, 36, 36, 0);
}


/*End twitter and instagram feed*/



/*Lifebuoy*/

.lifebuoy{
	position:relative;

}


span.arrow i{
	color:#2c2c2c;
	font-size:70px;
	position:absolute;
	left:50%;
	margin-left:-50px;
	top:-85px;
}

.lifeInner span i{
	color:#ffffff;
	font-size:40px;
	position: relative;
    top: -20px;
	opacity:.1;
}

.lifeInner h1 {
	margin-top:5px;
	color:#ffffff;
	font-size:28px;
	line-height:40px;
}

.lifeInner h1 span {
	display:block;
	font-size:12px;
	text-transform:none;
}


.lifeTel{
	font-size:25px;
	background:#eea915;
	color:#ffffff;
	padding:12px 18px;
	margin-top:25px;
	display:inline-block;
}

/*End lifebuoy*/



/*End bLog section*/



/*Contact section*/


.container .contactInner {
    display: inline-block;
    float: none;
}


.contactInner{
	background:#ffffff;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	padding:20px 40px 50px 40px;
	border-radius:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	z-index:2;
	position: relative;
}



.contactIco {
    background: #2c2c2c;
    color: #f1f1f1;
    display: block;
    height: 56px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 40px;
	top:-48px;
}


.contactIco i {
  	font-size: 30px;
    left: -2px;
    line-height: 55px;
    position: relative;
}


.contactIco:before {
    border-bottom: 28px solid transparent;
    border-right-color: #2c2c2c !important;
    border-right-style: solid;
    border-right-width: 14px;
    border-top: 28px solid transparent;
    content: "";
    height: 0;
    left: -14px;
    position: absolute;
    top: 0;
    width: 0;
}
.contactIco:after {
    border-bottom: 28px solid transparent;
    border-left-color: #2c2c2c !important;
    border-left-style: solid;
    border-left-width: 14px;
    border-top: 28px solid transparent;
    bottom: 0;
    content: "";
    height: 0;
    position: absolute;
    right: -14px;
    width: 0;
}



.contactIntro.largeIntro {
    width: 75%;
}




.inputColumns  .column1 ,  .inputColumns  .column2 {
	float: left;
    width: 50%;
}

.inputColumns  .column1 .columnInner {
	padding: 0 3px 0 0;
}

.inputColumns  .column2 .columnInner {
	padding: 0 0 0 10px;
}

.contactForm input[type="text"], .contactForm textarea, .replyForm input[type="text"], .replyForm textarea {
    background: #f8f8f8;
    border: 0 none;
    color: #666666;
    font-family: inherit;
    font-size: 13px;
    margin: 0 0 14px;
    outline: 0 none;
    padding:10px;
    resize: none;
    width: 100%;
	font-family: "robotolight", Arial, sans-serif;
	border:3px solid #f8f8f8;
	overflow:hidden;
	
}

 .replyForm input[type="text"], .replyForm textarea {
    background: #ffffff;
	border:3px solid #ffffff;
	
}

.contactForm textarea, .replyForm textarea {
    width: 100%;
	color: #666666;
	font-family: "robotolight", Arial, sans-serif;
}

.contactForm #submit, .replyForm #submit  {
    background: #343434;
    color: #f1f1f1;
    display: inline-block;
	cursor: pointer;
	text-transform:uppercase;
	padding:8px 30px;
}

.contactForm #submit:hover, .replyForm #submit:hover{
	background: #eea915;
    color: #ffffff;
}


#success, #error {
    display: none;
    position: relative;
}


#success h2, #error h2 {
    color: #1FB4DA;
    font-size: 11px;
    left: 0;
    position: absolute;
    top: 10px;
	text-transform:none;
}

#error h2 {
    color: #CE3D3D;
}

.errorForm {
    border: 3px solid #da4856 !important;
}


#map {
    height: 450px;
    width: 100%;
	z-index:1;
	margin-top:-70px;
}


/*End contact section*/





/*Footer*/


/*Footer top*/

/*Footer top*/

.footerTop{
	background:#2c2c2c;
	color:#d5d5d5;
}

.footerTop .mail i{
	opacity:.3;
}

.footerTop span, .footerTop a{
	font-size: 14px;
	color:#d5d5d5;
	opacity:.3;
}



.footerTop  a:hover{
	opacity:1;
}


.footerTop span i, .footerTop i{
  	font-size: 20px;
    margin-right: 5px;
    position: relative;
    top: 3px;
}

/*End footer top*/



/*Footer bottom*/


.footerBottom{
	background:#343434;

}


.footerBottom p{
	margin-top:15px;
	font-size:12px;
}


.footerBottom p .brand{

	color: #eea915;
	text-transform:uppercase;
}



.top{
	position:relative;
	top:-15px;
	z-index:11;
}



.top a i {
    background:#323232;
	box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:  0 -4px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.3);
	-ms-box-shadow:  0 -4px 4px rgba(0, 0, 0, 0.3);
	-o-box-shadow:  0 -4px 4px rgba(0, 0, 0, 0.3);
	background: rgb(44,44,44); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(44,44,44,1) 0%, rgba(52,52,52,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,44,44,1)), color-stop(100%,rgba(52,52,52,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(44,44,44,1) 0%,rgba(52,52,52,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(44,44,44,1) 0%,rgba(52,52,52,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(44,44,44,1) 0%,rgba(52,52,52,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(44,44,44,1) 0%,rgba(52,52,52,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2c2c', endColorstr='#343434',GradientType=0 ); /* IE6-9 */
    color: #eea915;
    display: inline-block;
    font-size: 13px;
    padding: 8px 11px;
	border-radius:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}


.socialsFooter{
	margin-top:10px;
}

.socialsFooter li {
    display: inline-block;
    margin-right: 2px;
    text-align: center;
}

.socialsFooter a {
    border: 2px solid #ffffff;
    color: #ffffff;
    display: inline-block;
    height: 35px;
    width: 35px;
	border-radius:100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	opacity:.2;
}


.socialsFooter li i {
    font-size: 12px;
    line-height: 33px;
}


.socialsFooter a:hover {
    opacity:.8;
}


/*End footer bottom*/


/*End footer*/






/* Media queries */



@media (max-width: 1200px){
	.instaInner .instaFeed  li {width:25%;}
}



@media (max-width: 900px) {
	.instaInner .instaFeed  li {width: 33.333333%;}
}



/* (1680x1050) WSXGA+ Display */
@media  screen and (min-width: 1680px) {
    .slidesInner p{padding :0 670px;}
	
}


/*iPad lanscape*/
@media screen and (max-device-width: 960px) and (min-width: 1000px) and (max-width: 1030px){
	input, textarea{-webkit-appearance: none;-webkit-border-radius:0;}
	.flexslider .slides > li {display: none; -webkit-backface-visibility: visible !important;} 
	.facts,.process, .testimonials, .clients {background-attachment: scroll;background-position:top center !important;background-size: cover;}
	 .headerSingle{background-attachment: scroll !important;}
	.mainSlider .slides li{background-attachment: scroll;background-position:top center !important;background-size: cover;}
	.mainSlider .slides li{height: 100% !important;}
	.mainSlider .flex-control-nav{bottom:20px !important;}
	.slidesInner{margin-top:-140px}
	.slidesInner img {width: 30% !important;}
	.slidesInner p{padding:0 330px;}
	.logoHolder{width:960px !important;}
	.logo img {margin-top: 0;padding: 18px 0;width: 7%;}
	nav.mainNav {display:none;margin-bottom:10px;}
	nav.mainNav  li{display:block; text-align:left;padding-left:0;padding-bottom:10px;background:none;}
	nav.mainNav li a{padding:0; margin:0;}
	.mobileBtn{display: inline-block;position: absolute;top:20px;right:0;}
	.headerSingle, .hero {position: relative;}
	.headerSingle{min-height:350px;}
	.hero {top:200px;}
	.item{width:50%;height:100%;}
	.ui-tabs-nav li a {padding: 10px 20px !important;}
	.projVideo iframe{height:450px;}
	.projectHolder{padding:0;}
	.projVideo iframe, .projectHolder .halfSlider{position:relative; width:100%;}
	.halfDesc{width:100%;}
	.halfDesc .halfInner{position:relative; padding: 100px 10%;margin:0; }
	.postLarge{min-height:100%;}
	.container .postLarge.sb {width:96%;}
	.instaInner .instaFeed li{width:25%;}


}

/* Tablet Portrait size -> standard 960 */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	input, textarea{-webkit-appearance: none;-webkit-border-radius:0;}
	.flexslider .slides > li {display: none; -webkit-backface-visibility: visible !important;} 
	.facts,.process, .testimonials, .clients {background-attachment: scroll;background-position:top center !important;background-size: cover;}
	 .headerSingle{background-attachment: scroll !important;}
	.mainSlider .slides li{height: 100% !important;}
	.mainSlider .flex-control-nav{bottom:20px !important;}
	.slidesInner{margin-top:-110px;}
	.slidesInner p{padding:0 220px;}
	.slidesInner img {width: 30% !important;}
	.slidesInner p{padding:0 220px;}
	.logoHolder{width:768px !important;}
	.logo img {margin-top: 0;padding: 20px 0;width: 8.1%;}
	nav.mainNav {display:none;margin-bottom:10px;}
	nav.mainNav  li{display:block; text-align:left;padding-left:0;padding-bottom:10px;background:none;}
	nav.mainNav li a{padding:0; margin:0;}
	.mobileBtn{display: inline-block;position: absolute;top:20px;right:0;}
	.headerSingle, .hero {position: relative;}
	.headerSingle{min-height:350px;}
	.hero {top:200px;}
	.shorten .inner h1{font-size:28px;}
	.fact span{margin-top:12px;}
	.noGap { width: 190px !important;}
	.skill{margin-top:0;}
	.servi{width:250px !important;}
	.add{float:none !important; margin:0 auto 100px auto !important;}
	.add:last-child{ margin-bottom:0  !important;}
	.testimonials .testiSlider {width: 700px;}
	.ui-tabs-nav li a {padding: 13px 20px !important;}
	.prcDet p{padding:0 20px;}
	.ctlContentL h1{font-size:13px;padding:0.44em 0;}
	.item{width:50%;height:100%;}
	.postLarge{min-height:100%;}
	.postLarge.last, .postLarge{padding:16px;}
	.postMedia.audio iframe{height:133px}
	.projVideo iframe{height:450px;}
	.projectHolder{padding:0;}
	.projVideo iframe, .projectHolder .halfSlider{position:relative; width:100%;}
	.halfDesc{width:100%;}
	.halfDesc .halfInner{position:relative; padding: 100px 10%;margin:0; }
	.projVideo iframe{position:relative; width:100%;height:450px;}
	.ltTitle h1{width:98%;}
	.lifeInner h1{line-height:42px;font-size:25px;}
	.container .postLarge.sb {width:96%;}
	.footerTop span, .footerTop a{font-size:13px;}
	.process .smallIntro p{padding: 0 180px;}
	
	
}


/* Mobile Landscape Size -> Tablet Portrait size*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	input, textarea{-webkit-appearance: none;-webkit-border-radius:0;}
	.flexslider .slides > li {display: none; -webkit-backface-visibility: visible !important;} 
	.facts,.process, .testimonials, .clients {background-attachment: scroll;background-position:top center !important;background-size: cover;}
	.headerSingle{background-attachment: scroll !important;}
	.mainSlider .slides li{height: 100% !important;}
	.mainSlider .flex-control-nav{bottom:20px !important;}
	.slidesInner{margin-top:-100px;}
	.slidesInner p{padding:0 120px;}
	.slidesInner img {width: 30% !important;}
	.logo img {margin-top: 0;padding: 18px 0;width: 15%;}
	nav.mainNav {display:none;margin-bottom:10px;}
	nav.mainNav  li{display:block; text-align:left;padding-left:0;padding-bottom:10px;background:none;}
	nav.mainNav li a{padding:0; margin:0;}
	.mobileBtn{display: inline-block;position: absolute;top:20px;right:0;}
	.headerSingle, .hero {position: relative;}
	.headerSingle{min-height:350px;}
	.hero {top:200px;}
	.aboutIntroContent h1{font-size:30px; line-height:40px;}
	.aboutIntroContent p{width:81%;}	
	.shorten .inner{width:100%;}
	.shorten .servSht .inner{top:158px;}
	.shorten .worksSht .inner{top:74%;}
	.servSht, .worksSht{float:none; width:100%;}
	.servBtn, .workBtn{position:absolute; z-index:10;width:100%;}
	.servBtn{top:40%;}
	.workBtn{top:90%;}
	.container .exp, .container .teamSingle, .shot img, .container .latest,  .container .fact, #accordionContent,.container .prc, .container .plan, .container .postLarge{margin-bottom:50px;}
	.container .exp:last-child, .container .teamSingle:last-child, .container .info:last-child, .container .fact:last-child, .container .prc:last-child, .container .plan:last-child,  .container .latest:last-child, .container .stp:last-child, .postLarge.last:last-child{margin-bottom:0;}
	.noGap{width:100% !important;}
	.clientHolder .clientsInner, .clientHolder .clientsInner:first-child{border:none;}
	.logoSingle{border:none;padding:15px 0;}
	.logoSingle img{width:20%;}
	.testimonials .testiSlider {width: 380px;}
	.servi{width:100% !important;border-bottom: 1px solid #efefef;border-right: none;padding:50px;}
	.servi:last-child{border-bottom: none;}
	.servIco{top:-66px;}
	.servDet{margin-top:-20px;}
	.servi .servDet p{padding:0;}
	.largeIntro, .projIntro, .pSingleIntro, .contactIntro.largeIntro{width:92%;}
	.clients .smallIntro p, .process .smallIntro p {line-height: 28px;padding: 0 55px;}
	.add{float:none !important; margin:0 auto 100px auto !important;}
	.add:last-child{ margin-bottom:0  !important;}
	.prcDet p {margin: 0 auto;width: 75%;}
	.ctlContentL, .ctlContentR {float: none;width: 100%;}
	.ctlContentL h1 {margin: 0 auto;width: 95%; font-size:17px;text-align:center;}
	ul#category li{display:block; margin-bottom:20px;}
	ul#category li:last-child{margin-bottom:0;}
	.item{width:100%;height:100%;}
	.projShowcase .proj{width:100%;float:none;}
 	.container .stp{margin-bottom:20px;}
	.projVideo iframe{height:450px;}
	.projectHolder{padding:0;}
	.projVideo iframe, .projectHolder .halfSlider{position:relative; width:100%;}
	.halfDesc{width:100%;}
	.halfDesc .halfInner{position:relative; padding: 100px 10%;margin:0; }
	.lifeInner h1{line-height:40px;font-size:25px;}
	.instaInner .instaFeed li{width:50%}
	.feedTw h3{margin-top:40px;}
	.tweets .tweet_list{padding:0;}
	.comments .replys {margin-left: 10px;}
	.comments .replys.children{margin-left:25px;}
	.postsHolder{margin-bottom:0 !important;}
	.postSingle .postContent blockquote:after {top: 85px;}
	.postLarge{min-height:100%;}
	.container .sidebar{margin-top:0 !important;margin-bottom:70px !important;}
	.inputColumns .column1, .inputColumns .column2{float:none; width:100%;}
	.inputColumns .column2 .columnInner, .inputColumns .column1 .columnInner{padding:0;}
	.container .info{margin-bottom:10px;}


	
}



/* Mobile Portrait Size -> Mobile Landscape Size */
@media only screen and (max-width:479px) {
	
	input, textarea{-webkit-appearance: none;-webkit-border-radius:0;}
	.flexslider .slides > li {display: none; -webkit-backface-visibility: visible !important;} 
	.facts,.process, .testimonials, .clients {background-attachment: scroll;background-position:top center !important;background-size: cover;}
	.headerSingle{background-attachment: scroll !important;}
	.mainSlider .slides li{height: 100% !important;}
	.mainSlider .flex-control-nav{bottom:20px !important;}
	.slidesInner{margin-top:-70px;}
	.slidesInner img {width: 40% !important;}
	.slidesInner p{padding:0 30px;margin-top:15px;}
	.socialsSlider{display:none;}
	.logo img {margin-top: 0;padding: 18px 0;width: 20%;}
	nav.mainNav {display:none;margin-bottom:10px;}
	nav.mainNav  li{display:block; text-align:left;padding-left:0;padding-bottom:10px;background:none;}
	nav.mainNav li a{padding:0; margin:0;}
	.mobileBtn{display: inline-block;position: absolute;top:18px;right:0;}
	.headerSingle, .hero {position: relative;}
	.headerSingle{min-height:350px;}
	.hero {top:200px;}
	.aboutIntroContent h1{font-size:30px; line-height:40px;}
	.aboutIntroContent p{width:81%;}
	.shorten .inner{width:100%;}
	.shorten .servSht .inner{top:158px;}
	.shorten .worksSht .inner{top:74%;}
	.servSht, .worksSht{float:none; width:100%;}
	.servBtn, .workBtn{position:absolute; z-index:10;width:100%;}
	.servBtn{top:40%;}
	.workBtn{top:90%;}
	.container .exp, .container .teamSingle, .shot img, .container .latest,  .container .fact, #accordionContent,.container .prc, .container .plan, .container .postLarge{margin-bottom:50px;}
	.container .exp:last-child, .container .teamSingle:last-child, .container .info:last-child, .container .fact:last-child, .container .prc:last-child, .container .plan:last-child,  .container .latest:last-child, .container .stp:last-child, .postLarge.last:last-child{margin-bottom:0;}
	.noGap{width:100% !important;}
	.clientHolder .clientsInner, .clientHolder .clientsInner:first-child{border:none;}
	.logoSingle{border:none;padding:15px 0;}
	.logoSingle img{width:25%;}
	.testimonials .testiSlider {width: 230px;}
	.ui-tabs-nav li a {padding: 13px 17px !important;}
	.servi{width:100% !important;border-bottom: 1px solid #efefef;border-right: none;padding:50px;}
	.servi:last-child{border-bottom: none;}
	.servIco{top:-66px;}
	.servDet{margin-top:-20px;}
	.servi .servDet p{padding:0;}
	.largeIntro, .projIntro, .pSingleIntro, .contactIntro.largeIntro{width:92%;}
	.clients .smallIntro p, .process .smallIntro p {line-height: 28px;padding: 0 8px;}
	.add{float:none !important; margin:0 auto 100px auto !important;}
	.add:last-child{ margin-bottom:0  !important;}
	.prcDet p {margin: 0 auto;width: 75%;}
	.ctlContentL, .ctlContentR {float: none;width: 100%;}
	.ctlContentL h1 {margin: 0 auto;width: 100%; font-size:17px;text-align:center;}
	ul#category li{display:block; margin-bottom:20px;}
	ul#category li:last-child{margin-bottom:0;}
	.item{width:100%;height:100%;}
	.projShowcase .proj{width:100%;float:none;}
 	.container .stp{margin-bottom:20px;}
	.projVideo iframe{height:450px;}
	.projectHolder{padding:0;}
	.projVideo iframe, .projectHolder .halfSlider{position:relative; width:100%;}
	.halfDesc{width:100%;}
	.halfDesc .halfInner{position:relative; padding: 100px 10%;margin:0; }
	.instaTitle h3{font-size:23px;}
	.insta {padding: 28px 0;height:160px;}
	.instaInner .instaFeed li{width:50%;}
	.feedTw h3{margin-top:40px;}
	.tweets .tweet_list{padding:0;}
	.lifeInner h1{line-height:35px;font-size:19px;}
	.lifeTel{font-size:28px;}
	.comments .replys {margin-left: 10px;}
	.comments .replys.children{margin-left:25px;}
	.postsHolder{margin-bottom:0 !important;}
	.postSingle .postContent blockquote:after {top: 125px;}
	.tagsSingle h4{float:none; margin-right:0; margin-bottom:10px;}
	.tagsListSingle li a{padding:5px 10px;}
	.container .sidebar{margin-top:0 !important;margin-bottom:70px !important;}
	.inputColumns .column1, .inputColumns .column2{float:none; width:100%;}
	.inputColumns .column2 .columnInner, .inputColumns .column1 .columnInner{padding:0;}
	.container .info{margin-bottom:10px;}

	
}

/* -------------------- End media queries -------------------- */



