/*
Theme Name: KPS-Group 
Theme URI: http://dhimanbarua.com
Author: Dhiman Barua
Author URI: http://dhimanbarua.com
Description: My First WordPress theme development
Version: 1.4
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

*/
iframe {
    width: 100%;
    frameborder: 0;
    display: block;
    height: 160px;
}
.postNav ul li span.current {
    opacity: 0.6;
    border: 2px solid #ffffff;
    color: #ffffff;
    display: inline-block;
    height: 38px;
    line-height: 36px;
    width: 38px;
}
.video iframe{
    height: 363px;
}
.postNav ul li {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
}
.postNav a {
    border: 2px solid #f1f1f1;
    color: #f1f1f1;
    display: inline-block;
    height: 38px;
    line-height: 36px;
    width: 38px;
    opacity: 0.3;
}
.postNav a:hover {
    opacity: 0.6;
    border: 2px solid #ffffff;
    color: #ffffff;
}
.postNav a.selected {
    opacity: 0.6;
    border: 2px solid #ffffff;
    color: #ffffff;
}
.tagcloud a {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 1px;
}


.tagcloud a {
    color: #999999;
    font-size: 13px !important;
    background:#f8f8f8;
    display: inline-block;
    padding: 6px 15px;
    border-radius:20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    
}
.tagcloud a:hover{
   color:#343434; 
}
.txt-upper, .upper, .btn-upper {
    margin-top: -3px;
}
.container.respond {
    text-align: left;
}
.children {
    margin-left: 60px;
}
.comments h2, .respond h2, .widget h2{
    margin-top: 50px;
}
.logged-in-as a{
    color: #343434;
    font-weight: normal;
}